@using MyFollow.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="auth-content">
    <p class="text-xs-center">Use a local account to login.</p>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "has-error" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined", @placeholder = "Your email address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "has-error" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control underlined", @placeholder = "Your password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "has-error" })
        </div>
        <div class="form-group">
            <label for="RememberMe">
                <input class="checkbox" id="RememberMe" name="RememberMe" type="checkbox">
                <span>Remember me</span>
            </label>
            @*Enable this once you have account confirmation enabled for password reset functionality
            <a href="/Account/ForgotPassword" class="forgot-btn pull-right">Forgot password?</a>*@
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </div>
        <div class="form-group">
            <p class="text-muted text-xs-center">
                Do not have an account?
                <a href="/Account/Register">Register!</a>
            </p>
        </div>
    }
</div>
